CarRental/Connected Services/RentalServiceReference/CarRental_v3.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarRental_v3.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarRental_v3.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarContract" nillable="true" type="tns:CarContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarContract" nillable="true" type="tns:ArrayOfCarContract" />
  <xs:complexType name="CarContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarContract" nillable="true" type="tns:CarContract" />
</xs:schema>