CarRental/Connected Services/RentalServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RentalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CarRental_v3.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRentalService_GetAvailableCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCars" />
  </wsdl:message>
  <wsdl:message name="IRentalService_GetAvailableCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalService_GetUnavailableCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnavailableCars" />
  </wsdl:message>
  <wsdl:message name="IRentalService_GetUnavailableCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnavailableCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalService_RentCar_InputMessage">
    <wsdl:part name="parameters" element="tns:RentCar" />
  </wsdl:message>
  <wsdl:message name="IRentalService_RentCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RentCarResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalService_ReturnCar_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCar" />
  </wsdl:message>
  <wsdl:message name="IRentalService_ReturnCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCarResponse" />
  </wsdl:message>
  <wsdl:portType name="IRentalService">
    <wsdl:operation name="GetAvailableCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalService/GetAvailableCars" message="tns:IRentalService_GetAvailableCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalService/GetAvailableCarsResponse" message="tns:IRentalService_GetAvailableCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnavailableCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalService/GetUnavailableCars" message="tns:IRentalService_GetUnavailableCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalService/GetUnavailableCarsResponse" message="tns:IRentalService_GetUnavailableCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RentCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalService/RentCar" message="tns:IRentalService_RentCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalService/RentCarResponse" message="tns:IRentalService_RentCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalService/ReturnCar" message="tns:IRentalService_ReturnCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalService/ReturnCarResponse" message="tns:IRentalService_ReturnCar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRentalService" type="tns:IRentalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableCars">
      <soap:operation soapAction="http://tempuri.org/IRentalService/GetAvailableCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnavailableCars">
      <soap:operation soapAction="http://tempuri.org/IRentalService/GetUnavailableCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RentCar">
      <soap:operation soapAction="http://tempuri.org/IRentalService/RentCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCar">
      <soap:operation soapAction="http://tempuri.org/IRentalService/ReturnCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RentalService">
    <wsdl:port name="BasicHttpBinding_IRentalService" binding="tns:BasicHttpBinding_IRentalService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CarRental_v3.Service/RentalService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>