CarRental/Connected Services/RentalServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CarRental_v3.Service" />
  <xs:element name="GetAvailableCars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarRental_v3.Service" minOccurs="0" name="GetAvailableCarsResult" nillable="true" type="q1:ArrayOfCarContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnavailableCars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnavailableCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CarRental_v3.Service" minOccurs="0" name="GetUnavailableCarsResult" nillable="true" type="q2:ArrayOfCarContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RentCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carId" type="xs:int" />
        <xs:element minOccurs="0" name="employee" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RentCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RentCarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carId" type="xs:int" />
        <xs:element minOccurs="0" name="employee" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnCarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>